#MkDocs
site/

# Byte-compiled / optimized / DLL files
**/__pycache__
**/.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# virtual envs
**/.venv/

# VSCode
# **/.vscode/ # Commenté, tant qu'il n'y a pas de codes sensibles dedans...

# Coverage
**/.coverage

# truc bizarre
**/.DS_Store

# site construit
public/
site/
_build/
